/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 avr. 2021, 22:32:41
    Author     : Meriem
*/




.mainFxmlClass {
.table-view {
   /* -fx-background-color:#5969DA;*/
    -fx-background-radius: 30;
    -fx-fill:black;
        -fx-background-color: transparent;
    

    
}

.table-view .column-header-background{
   -fx-background-color: #4A90E2;
   /*-fx-background-radius: 30;
   -fx-background-insets: 0 0 10 0;
   -fx-padding: 0 0 10 0;
   -fx-effect: dropshadow(two-pass-box,#289FD4,15,0.0,0.1,3);*/
  -fx-background-color: linear-gradient(to bottom,  #4A90E2, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
       
}
.table-view .column-header, .table-view .filter{
    -fx-size : 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
    
    
}
.table-view .column-header .label{
   -fx-text-fill: darkslateblue; 
    
}

.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.mod {
     -fx-background-color:#5969DA;
           
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 30,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight:bold; 
    
    
}
.mod:hover 
{
     -fx-background-color:#7582DD;
           
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 30,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight:bold; 
    
}

.combo
{
  -fx-background-color:#7FB3D5;
  
-fx-background-radius: 30;
    -fx-text-fill: white;
    
    -fx-font-weight:bold;   
    -fx-font-color: white;
    
}
.combo:hover
{
      -fx-background-color:#7582DD;
           
-fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-font-weight:bold;   
    
}
#tabpane {
    -fx-tab-min-height: 5em;
    /* 24 */
    -fx-tab-max-height: 5em;
    /* 24 */
    -fx-background-color:  #4A90E2;

    -fx-tab-min-width: 0.5em;
    -fx-tab-max-width: 0.5em;
    -fx-padding: 0 -1 -1 0
}
.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #EBEAF0;

}
.tab{
    -fx-pref-height: 50;
    -fx-pref-width:700;

    -fx-background-color:  #776489;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0 30 0 50;
}

.tab:selected
{
    -fx-background-color:  #AEB6F2;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 5 0 0 0;
    -fx-border-color: #AEB6F2;



}


.tab-pane *.tab-header-background
{
    -fx-background-color: transparent;
}

.tab-pane:left *.tab-header-area
{
    -fx-background-insets: 0, 0 0 10;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}



.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}
}
